.logo {
  max-width: 15rem;
}

.aling-middle {
  text-align: center !important;
}

.sombra {
  text-shadow: 2px 2px #000000;
}

.carousel-caption {
  background: rgb(0,0,0) !important;
  background: linear-gradient(0deg, rgba(0,0,0,1) 35%, rgba(0,0,0,0.9500175070028011) 50%, rgba(0,212,255,0) 100%) !important;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 10.25rem !important;
  position: absolute;
  right: 0% !important;
  left: 0% !important;
  bottom: 0% !important;
  padding-left: 3rem;
}

.carousel-item {
  max-height: 40rem;
}

@media (max-width: 480px) {
  .carousel-item {
    min-height: 35rem;
  }
}
